{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock title %}


{% block nav %}
    {% include 'nav.html' %}
    {% block panel %}
                <div class="mainmenu-area">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'ustora_001:products_view' %}">Home</a></li>
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="single-product.html">Single product</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li class="active"><a href="#">Category</a></li>
                                    <li><a href="#">Others</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock panel %}
{% endblock nav %}

{% block main %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Category products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->


    <div class="single-product-area">

        <div class="zigzag-bottom"></div>

        <div class="container">

            <div class="row">


                {% for item in items  %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">

                            <div class="product-upper">
                                {% if item.images.all.0.image.url %}
                                    <img src="{{ item.images.all.0.image.url }}" alt="">
                                {% else %}
                                    <img src="{{ item.image.url }}" alt="">
                                {% endif %}
                            </div>



                            <h2><a href="">{{ item.name }}</a></h2>

                            <div class="product-option-shop">
                                <h5>{{ item.description }}</h5>
                            </div>

                            <div class="product-carousel-price">
                                <ins>${{ item.new_price }}</ins> <del>${{ item.old_price }}</del>
                            </div>


                        </div>
                    </div>
                {% endfor %}




            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock main %}

